const mysql = require('mysql')
 require('dotenv').config()

const connection = mysql.createConnection(
    {
        host: process.env.DB_HOST,
        user: process.env.DB_USERNAME,
        password: process.env.DB_PASSWORD,
    }
)



connection.connect((err) => {
    if (err) throw err;

    let createDb = "CREATE DATABASE IF NOT EXISTS TheApexHouse";
    let createUserTableIfNotExists = "CREATE TABLE IF NOT EXISTS Users (id INT PRIMARY KEY AUTO_INCREMENT, first_name VARCHAR(255) NOT NULL, last_name VARCHAR(255) NOT NULL, email VARCHAR(255) UNIQUE NOT NULL, password VARCHAR(255) NOT NULL, phone VARCHAR(255) NOT NULL, address VARCHAR(255) NOT NULL, is_Admin BOOLEAN NOT NULL)";

    connection.query(createDb, (err, result) => {
        if (err) throw err;
        console.log('connected to db');
    })
    connection.query('use TheApexHouse', (err, result) => {
        if (err) throw err;
    })

    connection.query(createUserTableIfNotExists, (err, result) => {
        if (err) console.log(err)
      
    })
})

module.exports = connection;