const mysql = require('mysql')
require('dotenv').config()

const connection = mysql.createConnection(
    {
        host: process.env.DB_HOST,
        user: process.env.DB_USERNAME,
        password: process.env.DB_PASSWORD,
    }
)



connection.connect((err) => {
    if (err) throw err;

    let createDb = "CREATE DATABASE IF NOT EXISTS TheApexHouse";
    let createUserTableIfNotExists = "CREATE TABLE IF NOT EXISTS Users (id INT PRIMARY KEY AUTO_INCREMENT, first_name VARCHAR(255) NOT NULL, last_name VARCHAR(255) NOT NULL, email VARCHAR(255) UNIQUE NOT NULL, password VARCHAR(255) NOT NULL, phone VARCHAR(255) NOT NULL, address VARCHAR(255) NOT NULL, is_Admin BOOLEAN NOT NULL)";
    
    let createPropertyTableIfNotExists = "CREATE TABLE IF NOT EXISTS property (id INT PRIMARY KEY AUTO_INCREMENT, owner INT NOT NULL, status VARCHAR(255) NOT NULL, price FLOAT NOT NULL, state VARCHAR(255) NOT NULL, city VARCHAR(255) NOT NULL, address VARCHAR(255) NOT NULL, type VARCHAR(255) NOT NULL, image_url VARCHAR(255) NOT NULL, created_on DATETIME DEFAULT CURRENT_TIMESTAMP, FOREIGN KEY (owner) REFERENCES Users(id) )";

    connection.query(createDb, (err, result) => {
        if (err) throw err;
        console.log('connected to db');
    })
    connection.query('use TheApexHouse', (err, result) => {
        if (err) throw err;
    })

    connection.query(createUserTableIfNotExists, (err, result) => {
        if (err) console.log(err)
    })

    connection.query(createPropertyTableIfNotExists, (err,result)=>{
        if(err) console.log(err)
       
    })
})

module.exports = connection